########### this is for the example purpose how we can write our own code base like this

Log of Round 1 of #100DaysOfCode - done in 2021

Day 1: 16 May 2021. Sunday

Today's Progress: Worked on pattern based question on C++

Thoughts: Feels good to be back at coding, though some of the questions were easy , but it really feels good to be back

Link to work: [pattern based question](https://github.com/PranshuSharma1/cpp-complete/commit/7cf1439cac8db304cd0cf996655976e1956fe1fa#diff-1fd38d5cbd2a997b91f725cb1cb0a710849db30dac491ee42e92443fd8e3c1a2)

-------------------------------------------------------------


## this is the main branch dummy change
